/* -----------  INTRO SLIDER SECTION -----------*/
.swiper-slide--intro-slider {
    height: 360px;
    width: 100vw;
}

.swiper-slide__intro-slider-image {
    height: 360px;
    width: 100vw;
    object-fit: cover;
} 

.swiper-pagination-bullet {
    height: 11px;
    width: 11px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #6b6c6e;
}

.swiper-pagination-bullet:hover {
    border: 2px #d5e4e0 solid;
    background-color: unset;
    opacity: 1;
}

/* -----------  NEWS SLIDER SECTION  ----------- */
.news-header {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-header__title {
    font-family: 'Barlow', sans-serif;
    font-size: 32px;
    color: #111111;
    text-align: center;
    letter-spacing: 0.475em;
    font-weight: 400;
    margin-top: 38px;
    margin-bottom: 33px;
}

.news-header__line {
    width: 25px;
    border: 1.5px #111111 solid;
}

.products-slider {
    padding: 0 30px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.product-box {
    height: 430px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.product-box__link {
    text-decoration: none;
    color: #111111;
}

.image-swap {
    height: 205px;
    width: 272px;
    display: flex;
    position: relative;
}

.image-swap__image {
    height: 180px;
    width: 272px;
}

.image-swap__image--hover {
    height: 153px;
    display: none;
}

.image-swap__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    width: 101%;
    height: 0;
    transition: 0.6s ease;
}

.image-swap__text {
    color: #111111;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.product-box__link:hover .image-swap__overlay {
    height: 35%;
}

.product-box__link:hover .image-swap__image {
    display: none;
}

.product-box__link:hover .image-swap__image--hover {
    display: block;
}

.product-description {
    padding: 16px 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-description--lower-padding {
    padding: 0 38px 10px 38px;

}

.product-description__header {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4em;
    text-align: center;
    word-wrap: break-word;
    color: #111111;
}

.product-description__line {
    width: 155px;
    margin: 5px 0;
    border: none;
    border-bottom: 3px solid #111111;
}

.product-description__price {
    font-family: 'DidoteTextW01-Italic', serif;
    font-size: 18px;
    color: #797767;
    margin: 5px 0 0 0;
    text-align: center;
}

.product-button {
    display: flex;
    justify-content: center;
}

.button--add-to-cart {
    height: 45px;
    width: 196px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 200;
    background-color: transparent;
    border: 1px #111111 solid;
    padding: 8px 16px;
    cursor: pointer;
}

.swiper-button-next--products-slider {
    top: 900px;
    color: #111111;
    --swiper-navigation-size: 30px;
}

/* --------------  PARALLAX PHOTOS & PRODUCTS  ------------- */

.container {
    height: 610px;
    width: 100vw;
    display: inline-flex;
}

.best-seller {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-seller__link {
    height: 410px;
    text-decoration: none;
    color: #111111;
}

.best-seller__image {
    height: 310px;
    width: 485px;
    transform: scale(1.0);
    transition: 0.4s ease-in;
}

.best-seller__data {
    height: 100px;
    width: 485px;
    text-align: center;
    padding: 20px 0;
    transition: opacity 0.2s ease;
    transition-delay: 0.2s;
}

.best-seller__paragraph {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4em;
    text-align: center;
    color: #111111;
    margin: 0 0 15px 0;
}

.best-seller__paragraph--price {
    font-family: 'DidoteTextW01-Italic', serif;
    font-size: 18px;
    color: #797767;
    text-align: center;
    margin: 0;
}

.best-seller__paragraph--button-text {
    color: #797767;
    margin: 0;
}

.best-seller__paragraph--button-text:hover {
    opacity: 0.6;
}

.hover-button-box {
    position: relative;
    text-align: center;
    bottom: 72px;
}

.button--hover {
    height: 42px;
    width: 242px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 200;
    color: #797767;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
    border: 1px solid #797767;
    background-color: transparent;
    padding: 8px 16px;
}

.best-seller__link:hover .best-seller__data {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.best-seller__link:hover .button--hover {
    opacity: 1;
    transition: opacity 0.2s ease;
    transition-delay: 0.2s;
}

.best-seller__link:hover .best-seller__image{
  transform: scale(1.1);
  transition: 0.4s ease-in;
}

.button--hover:hover {
    color: #797767;
    transition: 0.4s ease-in;
}

.parallax-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.parallax-window {
    height: 610px;
    min-width: 50vw;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-window__link {
    color: #111111;
    text-decoration: none;
}

.parallax-window__title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    color: #FFFFFF;
    text-decoration: underline;
    margin: 0;
}

/* --------------  INFO SECTION  ------------- */
.info-section {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.info-section-wrapper {
    height: 543px;
    width: 93%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.info-box {
    height: 76.5%;
    width: 28.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info-img-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.info-box-data {
    height: 50%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info-paragraph {
    font-family: 'Work Sans', sans-serif;    
    font-size: 20px;
    line-height: 1.9em;
    font-weight: 200;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    margin: 0;
}

.info-header {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 0.25em;
    margin: 0;
}

.info-line {
    border: 1.5px white solid;
    background-color: #FFFFFF;
    border-radius: 10%;
    width: 5%;
    margin-bottom: 45px;
}

.info-link {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 1.6em;
}

.instagram-section {
    height: 600px;
    width: 100%;
    background-color: #f6f3ef;
}

.instagram-section-wrapper {
    height: 90%;
    width: 100%;
}

.section-header {
    height: 42.4%;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-box {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.instagram-section-header-data {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    letter-spacing: 0.25em;
    margin: 0;
}

.instagram-section-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    color: #111111;
}

.instagram-section-link:hover {
    color: #797767;
    transition: 0.4s ease-in;
}

.instagram-feed {
    height: 57.6%;
    width: 100%;
}