.expandable-menu__list {
    height: fit-content;
    width: -webkit-fill-available;
    list-style: none;
    visibility: hidden;
    position: absolute;
    top: 67px;
    z-index: 10;
    border: 1px solid rgba(110, 119, 93, 0.4);
    border-top: 0px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 0 4px 0 rgb(0 0 0 / 10%);
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    background-color: #FFFFFF;
}

.list-open {
    transition: 0.3s;
    visibility: visible;
    transform: scaleY(1);
}