.swiper-pagination-bullet {
    height: 13px !important;
    width: 13px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    background-color: #82848d !important;
}

.swiper-pagination-bullet:hover {
    border: 2px #d2dddb solid !important;
    background-color: unset !important;
    opacity: 1 !important;
}