body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: $color-grey-dark;
}

.heading-primary {
  display: block;
  text-align: center;
  font-size: 8rem;
  letter-spacing: 10px;
  color: $color-primary-light;
  text-shadow: 5px 5px $color-black;
  -webkit-text-stroke: 2px $color-black;

  &--animated {
    animation: moveInLeft 1.5s linear;
  }
}

.heading-secondary {
  display: block;
  font-size: 3.5rem;
  letter-spacing: 5px;
  font-weight: 600;
  color: $color-grey-dark;
  text-transform: uppercase;
  margin-bottom: 2rem;

  &__line {
    display: inline-block;
    height: 3px;
    width: 8rem;
    background-color: $color-grey-dark;
    display: inline-block;
  }

  &--small {
    font-size: 2.8rem;
  }
}