// COLORS

$color-primary: #f5eadd;
$color-primary-light: #f7efe4;
$color-primary-dark: #f8d3a4;

$color-black: #000; 
$color-white: #fff;
$color-grey-dark: #343a40;
$color-grey-light: #f7f7f7;
$color-light-orange: #f6a238;

//SHADOWS

$button-shadow: 0 2rem 3rem rgba($color-black, .7);
$button-shadow-active: 0 1rem 1rem rgba($color-black, 0.2);

// FONTS

$default-font-size: 1.6rem;