.input--form {
    height: 42px;
    width: 250px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #111111;
    outline: none;
    border: none;
    border-bottom: 1px solid #797767;
    padding: 3px 3px 3px 12px;
    margin-bottom: 22px;
}

.input--form:hover {
    border-bottom: 2px solid #797767;
    padding: 3px 3px 2px 12px;
}

.input--form:focus {
    border-bottom: 2px solid #797767;
    padding: 3px 3px 2px 12px;
}