.input--form {
    height: 42px;
    width: 250px;
    border: none;
    border-bottom: 1px solid #797767;
    padding: 3px 3px 3px 12px;
    margin-bottom: 22px;
    background-color: #f6f3ef;
}

.input--form:hover {
    border-bottom: 2px solid #797767;
    padding: 3px 3px 2px 12px;
}

.input--form:focus {
    border-bottom: 2px solid #797767;
    padding: 3px 3px 2px 12px;
}