.select {
    height: 40px;
    width: 352px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5em;
    color: #444444;
    background-color: #FFFFFF;
    border-color: #c0c0c0;
    outline: none;
    padding: 8px 16px;
}