.input {
    height: 40px;
    width: 300px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    outline: none;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
}