.form__button {
    height:46px;
    width: 300px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.3em;
    letter-spacing: normal;
    border: 1px solid #111111;
    color: #FFFFFF;
    background-color: #111111;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 16px;
}