.accordion__text {
    width: 95%;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    color: #690303;
    opacity: 0.5;
    padding-bottom: 20px;
}