.checkbox {
    display: none;
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: block;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 2em;
    color: #6E775D;
    top: -5px;
}

[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    outline: 1px solid #c9c9c9;
    background: #FFFFFF;
    left: 1px;
    top: 7px;
}

[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    outline: 1px solid #111111;
    background: #FFFFFF;
    left: 1px;
    top: 7px;
}

[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-image: url('../../../assets/img/project.blocks/checkbox/check.png');
    background-size: contain;
    left: 1px;
    top: 7px;
    transform: scale(1);
    opacity: 1;
    transition: all 0.3s ease;
}

[type="checkbox"]:not(:checked) + label::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-image: url('../../../assets/img/project.blocks/checkbox/check.png');
    background-size: contain;
    left: 1px;
    top: 7px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s ease;
}