.swiper-pagination-bullet {
    height: 11px;
    width: 11px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #82848d;
}

.swiper-pagination-bullet:hover {
    border: 2px #d2dddb solid;
    background-color: unset;
    opacity: 1;
}