@import "/project/project.blocks/menu/menu.css";
@import "/project/project.blocks/menu/__list/menu__list.css";
@import "/project/project.blocks/menu/__item/menu__item.css";
@import "/project/project.blocks/menu/__link/menu__link.css";
@import "/project/project.blocks/menu/__image/menu__image.css";
@import "/project/project.blocks/logo/logo.css";
@import "/project/project.blocks/logo/__image/logo__image.css";
@import "/project/project.blocks/side_menu/side_menu.css";
@import "/project/project.blocks/side_menu/__list/side-menu__list.css";
@import "/project/project.blocks/side_menu/__item/side_menu__item.css";
@import "/project/project.blocks/side_menu/__link/side_menu__link.css";
@import "/project/project.blocks/side_menu/__image/side_menu__image.css";




.header {
    height: 165px;
    width: 100vw;
    display: inline-flex;
  }