.btn {
    &,
    &:link,
    &:visited {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: $default-font-size;
      font-weight: 600;
      letter-spacing: 0.3rem;
      text-align: center;
      padding: 1.2rem 2rem;
      border-radius: 100px;
      color: $color-grey-dark;
      transition: all .2s;
    }

  //   &:hover,
  //   &:focus {
  //       transform: translateY(-0.3rem);
  //       box-shadow: $button-shadow;

  //   &::after {
  //       transform: scaleX(1.4) scaleY(1.6);
  //       opacity: 0;
  //   }
  //   }   

  //   &:active,
  //   &:focus {
  //       transform: translateY(0);
  //       box-shadow: $button-shadow-active;
  // }

  //   &::after {
  //       content: "";
  //       display: inline-block;
  //       height: 100%;
  //       width: 100%;
  //       border-radius: 100px;
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       z-index: -1;
  //       transition: all .2s;
  // }

  
  &--cart {
    border: 1px solid #000;
  }

  &--orange-light {
    background-color: $color-orange-light;

    &::after {
      background-color: $color-orange-light;
    }
  }

  &--animated {
    &:link,
    &:visited {
    animation: moveInBottom 2s linear;
    }
  }

  &--wide {
    width: 23rem;
  }
}
