.parallax {
    position: relative;

    &-window {
        height: 44rem;

        &--small {
            height: 30rem;
        }
    }

    &__link { 
        &:link,
        &:visited {
        @include absCenter;
        text-decoration: underline;
        color: $color-white;
        }
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        letter-spacing: 0.3rem;
    }
}