.product-card { 
    position: relative;
    height: 55rem;
    max-width: 40rem;
    width: 90%;
    display: inline-block;
    background-color: $color-primary-dark;
    border: 2px solid $color-black;
    border-radius: 10px;
    box-shadow: 0 2rem 4rem rgba($color-black, .6);

    &__link {
        pointer-events: none;
        &:link,
        &:visited {
        text-decoration: none;
        color: $color-grey-dark;
        }
    }

    &__image {
        height: 25rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;
        opacity: .9;

        &--2 {
            object-position: 0% 60%;

        }

        &--3 {
            object-position: 0 90%;

        }

        &--7 {
            object-position: bottom;

        }
    }

    &__description {
        position: relative;
        display: block;
        padding: 2rem 2rem 0 2rem;
    }

    &__header {
        font-size: $default-font-size;
        word-wrap: break-word;
        color: $color-grey-dark;
        margin: 1rem 0;
    }

    &__line {
        height: 0.1rem;
        width: 70%;
        background-color: $color-black;
        display: inline-block;
    }

    &__price {
        font-family: 'Water Brush', cursive;
        font-size: 4rem;
        margin: 4rem 0;

        &--margin-y-small {
            margin: 3rem 0;
        }   
    }
}
