.footer {
    background-color: $color-grey-light;
    text-align: center;

    &__logo {
        height: 16rem;
    }

    &__list {
        height: 25rem;
        list-style: none;
    }

    &__item {

        &:not(:last-child) {
            margin: .8rem;
        }
    }

    &__link {
        &:link,
        &:visited {
        display: inline-block;
        font-size: $default-font-size;
        font-weight: 400;
        padding: 1rem 2rem;
        color: $color-grey-dark;
        text-decoration: none;
        }
    }
}