.header {

  &__bar {
    height: 12rem;
    position: relative;
    background-color: $color-grey-light;
  }

  &__logo-box {
    @include absCenter;  
  }

  &__logo {
    height: 120px;
  } 

  &__cart {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 16px;
  }

  &__image {
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;

    &--index {
      background-image: linear-gradient(rgba($color-black, .2), rgba($color-black, .2)) ,url(../img/header/index-header-bg.jpg);
    }

    &--shop {
      background-image: linear-gradient(rgba($color-black, .2), rgba($color-black, .2)) ,url(../img/header/shop-header-bg.jpg);
    }
  }

  &__text-box {
    @include absCenter;
    width: 100%;
    text-align: center;
  }
}