.header {
  &__bar {
    height: 12rem;
    position: relative;
    background-color: $color-grey-light;
  }

  &__logo-box {
    @include absCenter;  
  }

  &__logo {
    height: 12rem;
  } 

  &__cart {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &__image {
    height: 55vh;
    background-image: linear-gradient(rgba($color-black, .2), rgba($color-black, .2)) ,url(../img/header/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
  }

  &__text-box {
    @include absCenter;
    width: 100%;
    text-align: center;
  }
}