.section-header__title {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.475em;
    font-weight: 400;
    color: #111111;
    margin-top: 38px;
    margin-bottom: 33px;
}