.input--animated {
    background-color: transparent;
    z-index: 10;
    visibility: hidden;
    border: none;
    transition: 1s;
    padding: 0;
}

.active {
    width: 825px;
    transition: 0.8s;
    visibility: visible;
}

.placeholder-hide {
    opacity: 0;
    transition: 0.8s;
}

input::placeholder {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: #514f45;
    opacity: 0.6;
    left: 100px;
}