.input--animated {
    height: 40px;
    font-weight: 400;
    background-color: transparent;
    z-index: 10;
    visibility: hidden;
    border: none;
    outline: none;
    transition: 0.6s;
    margin: 0;
    padding: 0;
}

.active {
    width: 825px;
    transition: width 0.8s;
    visibility: visible;
}

input::placeholder {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #111111;
    left: 100px;
    opacity: 0.6;
}