@import "/project/project.blocks/social_media_icons/social_media_icons.css";
@import "/project/project.blocks/social_media_icons/__image/social_media_icons__image.css";
@import "/project/project.blocks/logo/_bigger_box/logo_bigger_box.css";
@import "/project/project.blocks/logo/__image/_small/logo__image_small.css";
@import "/project/project.blocks/logo/__image/_no_margin/logo__image_no_margin.css";
@import "/project/project.blocks/menu/_vertical/menu_vertical.css";
@import "/project/project.blocks/menu/__list/_vertical/menu__list_vertical.css";
@import "/project/project.blocks/menu/__list/_right_allign/menu__list_right_allign.css";





.footer {
  height: 365px;
  width: 100vw;
  display: inline-flex;
  align-items: center;
  background-color: #FFFFFF;
}