.product-card__image-swap {
    height: 205px;
    width: 272px;
    display: flex;
    position: relative;
}

.product-card__link:hover .product-card__overlay {
    height: 35%;
}

.product-card__link:hover .product-card__image {
    display: none;
}

.product-card__link:hover .product-card__image--hover {
    display: block;
}

.product-card__link:hover .product-card__image--hover-small {
    display: block;
}