.irs-handle {
    height: 18px !important;
    width: 18px !important;
    top: 2px !important;
    border-color: #6E775D !important;
    background-color: #6E775D !important;
    cursor: pointer;

}

.irs-handle:active {
    transform: scale(1.2);
}